.jumbo{
  height: 200px;
  border: 1px solid green;
}
.cards{
  height: 200px;
  border: 1px solid red;
}

.card {
  height:50px;
  width: 30%;
  border: 1px solid pink;
}

.table{
  border: 1px orange;
}

nav.navbar.navbar-default{
  margin-bottom: 0px;
}
 /* Whatfont */
